//global style
body {
	font-family: "Sora", sans-serif;
	background-color: #fff;
	overflow-x: hidden;

	.main-wrapper {
		position: relative;
		min-height: 100vh;
		width: 100%;
	}
}

//global style

//header
header {
	@include transition(all linear 0.2s);
	position: relative;
	width: 100%;
	top: 0;
	z-index: 999;

	&.fixed {
		.navbar {
			top: 0;
			background-color: $second_color;
		}
	}

	.middle-part {
		padding: 25px 0;
		background-color: #fff;
		@include transition(all linear 0.3s);

		.middle-part-content {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.box {
				display: flex;

				&:first-child {
					margin-inline-end: 25px;
				}

				.info {
					display: grid;
					grid-template-columns: 70px auto;
					align-items: center;
					padding-inline-end: 35px;
					line-height: 1.5;

					.icon {
						display: inline-block;
						text-align: center;
						font-size: 32px;
						color: #00578F;
						@include transition(all ease 0.3s);
					}

					.text {
						h4 {
							color: #00578F;
							text-transform: capitalize;
							font-size: 16px;
						}

						p,
						a {
							font-size: 14px;
							margin-bottom: 0;
							color: $dark_color;
						}
					}
				}
			}

			.brand {
				margin: 0;

				img {
					width: 20rem;
				}
			}
		}
	}

	.navbar {
		padding: 0;
		position: fixed;
		top: 108px;
		width: 100%;
		@include transition(top linear 0.2s);

		.navbar-content {
			background-color: $second_color;
			display: flex;
			width: 100%;
		}

		.navbar-brand {
			padding: 0;
			margin: 0;

			img {
				max-width: 200px;
			}
		}

		.navbar-toggler {
			// margin-inline-start: 15px;

			&:focus {
				outline: none;
				box-shadow: none
			}
		}

		.navbar-nav {
			padding: 0;

			.nav-item {
				padding: 0 1rem;
				line-height: 5;
				@include transition(all ease 0.2s);

				&:hover,
				&.active {
					.nav-link {
						color: #fff;

						&::after {
							width: 100%;
						}
					}
				}

				&:not(:hover) {
					color: $main_color;
				}

				&:last-child {
					padding-inline-end: 0;
				}

				.nav-link {
					color: #fff;
					padding: 0;
					font-size: 15px;
					text-transform: capitalize;
					position: relative;

					&::after {
						content: "";
						position: absolute;
						background-color: #fff;
						height: 2px;
						left: 0;
						bottom: 22px;
						width: 0;
						@include transition(all linear 0.2s);
					}

					&:hover {
						&::after {
							width: 100%;
						}
					}

					&.change {
						&::after {
							right: 0;
							left: auto;
						}
					}
				}

				&.dropdown {
					.dropdown-menu[data-bs-popper] {
						margin: 0;
						min-width: 225px;
					}
				}

				.dropdown-menu {
					padding: 0;
					box-shadow: 0 10px 50px 0 rgb(13 38 59 / 10%);
					@include borderRadius(0);
					border-bottom: 2px solid $main_color;
					@include transition(all linear 0.2s);

					li {
						border-bottom: 1px solid #eee;
						line-height: 3;

						&:last-of-type {
							border-bottom: none;
						}
					}

					.dropdown-item {
						font-size: 13px;
						padding: 0 20px;
						@include transition(all linear 0.2s);
						text-transform: capitalize;
						position: relative;

						&:hover {
							color: #fff;
							background-color: $main_color;
						}
					}
				}
			}
		}

		.navbar-collapse {
			// justify-content: center;
		}

		.dropdown-toggle {
			position: relative;
			display: flex;
			align-items: center;
			padding-inline-end: 15px !important;

			&::before {
				content: "chevron-down";
				font-family: "bootstrap-icons";
				-webkit-font-smoothing: antialiased;
				font-style: normal;
				font-variant: normal;
				font-weight: 600;
				font-size: 10px;
				position: absolute;
				text-transform: initial;
				right: 0;
				top: auto;
			}

			&::after {
				display: none;
			}
		}

		.group {
			display: flex;
			order: 1;
			align-items: center;
			height: 100%;

			.btn {
				line-height: 4.1;
				border: none;
				outline: none;
				display: inline-block;
				vertical-align: middle;
				background-color: $main_color;
				color: #fff;
				font-size: 16px;
				font-weight: 700;
				-webkit-transition: .5s;
				transition: .5s;
				padding: 5px 44px;
				@include borderRadius(0);

				i {
					margin-inline-start: 5px;
				}

				&:hover {
					background-color: #fff;
					color: $second_color;
				}
			}
		}
	}

	.hamburger-menu {
		display: inline-block;
		margin-left: auto;
		width: 30px;
		height: 20px;
		position: relative;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		transition-duration: 500ms;
		-webkit-transition-duration: 500ms;
		transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
		-webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
		cursor: pointer;
		display: none;

		&:hover {
			span {
				width: 30px !important;
			}
		}

		span {
			display: block;
			position: absolute;
			height: 2px;
			width: 100%;
			background: #fff;
			opacity: 1;
			right: 0;
			@include transform(rotate(0deg));
			@include transition(.25s ease-in-out);

			&:nth-child(1) {
				top: 0px;
				width: 13px;
			}

			&:nth-child(2) {
				top: 9px;
			}

			&:nth-child(3) {
				top: 18px;
				width: 100%;
			}
		}

		&.open {
			span {
				&:nth-child(1) {
					top: 9px;
					right: 0;
					-webkit-transform: rotate(135deg);
					-moz-transform: rotate(135deg);
					-o-transform: rotate(135deg);
					transform: rotate(135deg);
					width: 28px !important;
				}

				&:nth-child(2) {
					opacity: 0;
					right: 20px;
				}

				&:nth-child(3) {
					top: 9px;
					right: 0;
					-webkit-transform: rotate(-135deg);
					-moz-transform: rotate(-135deg);
					-o-transform: rotate(-135deg);
					transform: rotate(-135deg);
					width: 28px !important;
				}
			}
		}
	}

	.offcanvas-backdrop.show {
		opacity: .1;
	}

	.offcanvas {
		background-color: $second_color;
		@include boxshadow(0 0 60px rgb(0 0 0 / 40%));

		.btn-close {
			&:focus {
				outline: none;
				box-shadow: none
			}
		}

		.offcanvas-header {
			justify-content: flex-end;
			background: $second_color;
		}

		.navbar {
			position: static;

			.brand {
				margin-bottom: 30px;
				padding: 15px;

				img {
					max-width: 250px;
				}
			}

			.navbar-nav {
				.nav-item {
					line-height: 1.5;
					border-bottom: 1px solid #293350;

					.dropdown-toggle {
						position: relative;

						&::after {
							position: absolute;
							right: 0;
							vertical-align: middle;
							top: 45%;
						}
					}

					.nav-link {
						padding: 10px 10px;
					}
				}
			}
		}
	}
}

//header

//main slider
section.main-slider {
	background-color: #f9f9f9;

	.owl-item {
		&.active {
			* {
				-webkit-animation-duration: 1s;
				animation-duration: 1s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
			}

			.title {
				animation-name: fadeInDown;
				animation-delay: 1s;
			}

			p {
				animation-name: fadeInDown;
				animation-delay: 1.5s;
			}

			.btn {
				animation-name: fadeInLeft;
				animation-delay: 2s;

				&.diff {
					animation-name: fadeInRight;
				}
			}

			.slider-image {
				animation: scale-anim 15s ease infinite alternate;
			}
		}
	}

	.slider-item {
		.slider-image {
			width: 100%;
			height: 1000px;
			// animation: scale-anim 15s ease infinite alternate;
		}

		.item-details {
			direction: rtl;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 20px;
			z-index: 1;
			@include transition(all ease 0.3s);
			@include boxshadow(0px 0px 20px 0px rgb(0 0 0 / 15%));

			.item-text {
				max-width: 800px;
				direction: initial;
				background-color: rgba(255, 255, 255, 0.85);
				padding: 80px 45px;
				border-inline-end: 15px solid $main_color;
			}

			.title {
				color: $second_color;
				font-size: 45px;
				margin-bottom: 25px;
			}

			p {
				color: #000;
				font-size: 20px;
				line-height: 1.5;
				margin-bottom: 25px;
				line-height: 1.4em;
			}
		}
	}

	.owl-theme {
		.owl-nav [class*=owl-] {
			@include transition(all ease 0.3s);

			&:hover {
				background: $main_color;
			}
		}

		.owl-dots {
			position: absolute;
			left: 8%;
			top: 45%;
			margin: 0;
			display: flex;
			flex-direction: column;


			.owl-dot {
				span {
					background-color: rgba(255, 255, 255, 0.5);
				}
			}

			.owl-dot.active span,
			.owl-theme .owl-dots .owl-dot:hover span {
				background-color: rgba(255, 255, 255, 1);
			}
		}
	}
}

@keyframes scale-anim {
	0% {
		transform: scale(1.0);
	}

	100% {
		transform: scale(1.2);
	}
}

//main slider

//global btn
.item-btn {
	.btn {
		@include borderRadius(5px);
		font-size: 18px;
		color: $main_color;
		text-transform: capitalize;
		@include transition(all ease 0.3s);
		padding: 15px 25px;
		color: #fff;
		position: relative;
		background-color: $main_color;
		border: 1px solid #fff;
		overflow: hidden;

		&:focus,
		&:active,
		&:hover {
			background-color: $dark_color;
		}

		&.diff {
			background-color: transparent;
			color: #000;
			text-decoration: underline;
			border: none;
		}

		i {
			margin-inline-start: 5px;
		}
	}
}

//global btn

//about
section.about {
	padding: $padding_section;
	background-color: #fff;
	position: relative;

	.content {
		.main-title {
			margin-bottom: 2rem;

			.top-title {
				color: $main_color;
				font-size: 18px;
				font-weight: 500;
				margin-bottom: 15px;

				&::after {
					display: none;
				}
			}

			h2 {
				color: $dark_color;
				margin-bottom: 0;
			}
		}

		.about-image {
			position: relative;

			.image-text {
				position: absolute;
				top: 0;
				left: 0;
				background-color: $main_color;
				width: 100%;
				max-width: 333px;
				display: -webkit-flex;
				display: flex;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-align-items: center;
				align-items: center;
				-webkit-flex-direction: column;
				flex-direction: column;
				min-height: 141px;
				text-align: center;

				h3 {
					color: #fff;
					font-weight: 700;
					font-size: 42px;
					line-height: 1;
					margin: 0 0 17px;
				}

				p {
					margin: 0;
					line-height: 1;
					font-size: 22px;
					font-weight: 500;
					color: #fff;
				}

			}

			img:nth-child(2) {
				position: absolute;
				top: 150px;
				left: 0;
			}
		}

		.about-text {
			color: #555555;
			font-size: 16px;
			line-height: 1.8em;
			margin-bottom: 25px;

			h3 {
				color: $second_color;
				font-size: 22px;
				font-weight: 600;
				margin-bottom: 10px
			}
		}

		.about-btn {
			@extend .item-btn;
			display: flex;
			align-items: center;

			.btn {
				border-color: $main_color;
				color: #fff;
				margin-inline-end: 25px;
				line-height: normal;
				padding: 15px 55px;
				@include borderRadius(0);

				&:hover {
					color: #fff;
				}

				i {
					margin-inline-start: 5px;
				}
			}

			.phone {
				display: grid;
				grid-template-columns: 60px auto;
				align-items: center;
				padding-inline-end: 35px;
				line-height: 1.5;

				h4 {
					font-size: 20px;
					margin-bottom: 0;
				}

				.icon {
					height: 100%;
					@extend %center;
				}

				i {
					font-size: 32px;
					color: $main_color;
				}

				a {
					font-weight: 700;
					font-size: 22px;
					color: $second_color;
				}

				p {
					margin: 0;
				}
			}
		}
	}
}

//about

//services
section.services {
	padding: $padding_section;
	background-color: $second_color;
	background-image: url(../images/bgs/services.png);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;

	.main-title {
		text-align: center;

		h2 {
			color: #fff;
		}
	}

	@supports (grid-row-gap: 45px) {
		.row {
			grid-row-gap: 45px;
		}
	}

	@supports not (grid-row-gap: 45px) {
		.content {
			.box {
				margin-bottom: 45px;
			}
		}
	}

	.content {
		.service-box {
			position: relative;
			// @include boxshadow(0 15px 25px rgb(0 0 0 / 13%));
			text-align: center;
			@include transition(all ease 0.3s);
			padding: 25px;
			height: 200px;
			// border: 1px solid rgba(238, 238, 238, 0.247);
			background-color: rgba(255, 255, 255, 0.137);

			&:hover {
				@include boxshadow(0 15px 25px rgb(0 0 0 / 13%));
				background-color: #fff;

				.icon {
					i {
						color: $second_color;
					}
				}

				.details {
					.title {
						color: $second_color;
					}
				}
			}

			.icon {

				i {
					font-size: 50px;
					color: #fff;
				}
			}

			.details {
				.title {
					min-height: 30px;
					font-size: 20px;
					color: #fff;
					line-height: 1.7
				}

				p {
					@extend %max_lines;
					-webkit-line-clamp: 3;
					color: $gray;
					font-size: 14px;
					min-height: 65px;
				}

				.btns {
					.btn {
						font-size: 14px;
						font-weight: 600;
						border: 2px solid #eee;
						text-transform: capitalize;
						@include transition(all ease 0.3s);
						@include borderRadius(0);
						padding: 10px 25px;

						&:hover {
							background-color: $dark_color;
							color: #fff;
							border-color: $dark_color
						}

						i {
							margin-inline-start: 5px;
							font-size: 14px
						}
					}
				}
			}
		}

		.services-btn {
			@extend .item-btn;
			text-align: center;
			margin-top: 50px;

			p {
				color: $gray;
				@extend %center;
			}

			.btn {
				background-color: transparent;
				padding: 0;
				color: #000;
				border: none;
				text-decoration: underline;
				margin-inline-start: 5px;

				&:hover {
					background-color: transparent;
				}
			}
		}
	}
}

//services

//contact
section.contact {
	padding: 100px 0 60px 0;
	background-color: #fff;
	background-image: url(../images/bgs/contact-bg.png);
	background-size: cover;

	.content {
		background-color: #fff;
		@include boxshadow(0 20px 40px rgb(0 0 0 / 18%));

		.image {
			height: 100%;

			img {
				@extend %fitimage;
			}
		}

		.contact-form {
			padding: 40px;

			.form-group {
				margin-bottom: 20px;

				label {
					display: block;
					margin-bottom: 15px;
					font-weight: 600;
					text-transform: capitalize;
					font-size: 14px;
				}

				.form-control,
				.form-select {
					display: block;
					width: 100%;
					line-height: 28px;
					padding: 10px 15px;
					color: #222222;
					font-size: 14px;
					font-weight: 400;
					border-radius: 0px;
					background-color: #f3f3f3;
					border-color: #f3f3f3;

					&:focus {
						border-color: $main_color;
						box-shadow: none;
					}
				}

				textarea {
					height: auto !important;
				}
			}
		}

		.contact-btn {
			@extend .item-btn;

			.btn {
				// border-color: $second_color;
				// background-color: $second_color;
				color: #fff;
				// width: 100%;
				@include borderRadius(0);
				padding: 15px 40px;

				&:hover {
					color: #fff;
					border-color: $second_color;
				}
			}
		}

		.successfully {
			font-size: 16px;
			margin-bottom: 25px;
			color: #058100;
		}
	}
}

//contact


//footer
footer {
	background-color: $second_color;
	padding: 60px 0 0;

	.row {
		row-gap: 20px;
	}

	.footer-content {
		padding-bottom: 30px;

		.footer-box {
			.text {
				p {
					color: #fff;
					font-size: 14px;
					line-height: 1.7em;
				}

				.footer-logo {
					img {
						max-width: 350px;
					}
				}

				.btn {
					padding-left: 0;
					padding-top: 0;
					color: $main_color;
					font-weight: 600;

					img {
						width: 7px;
						margin-left: 5px;
					}
				}
			}

			.social-links {
				h4 {
					color: #fff;
					font-size: 18px;
					margin-bottom: 15px;
				}
			}

			h3 {
				font-size: 18px;
				position: relative;
				font-weight: 600;
				color: #ffffff;
				line-height: 1.2em;
				margin-bottom: 35px;
				padding-bottom: 15px;
				text-transform: capitalize;

				&::before {
					position: absolute;
					content: "";
					left: 0;
					bottom: 0;
					height: 1px;
					width: 30px;
					background-color: #ffffff;
				}
			}

			.map-links {
				padding: 0;

				li {
					list-style: none;
					margin-bottom: 15px;
					font-size: 14px;
					padding-left: 25px;
					position: relative;

					&::before {
						font-family: "bootstrap-icons";
						content: "chevron-right";
						-webkit-font-smoothing: antialiased;
						font-style: normal;
						font-variant: normal;
						font-weight: 500;
						font-size: 12px;
						position: absolute;
						left: 0;
						top: 50%;
						@include transform(translateY(-50%));
						color: #fff;
					}

					a {
						color: #fff;

						&.btn {
							padding-left: 0;
							padding-top: 0;
							color: $main_color;
							font-weight: 600;
						}
					}
				}
			}

			.contact {
				p {
					list-style: none;
					font-size: 16px;
					color: #fff;
					margin-bottom: 15px;

					i {
						margin-inline-end: 10px;
						color: #fff;
					}
				}

				a {
					color: #fff;
				}
			}
		}
	}

	.copyright {
		background-color: transparent;
		padding: 15px 0;
		text-align: center;
		border-top: 1px solid rgba(255, 255, 255, 0.15);

		.copy-text {
			p {
				margin-bottom: 0;
				color: #fff;
				font-size: 14px;
				margin: 0;
				text-transform: capitalize;

				a {
					color: $main_color;
					margin-inline-start: 5px;
				}
			}
		}
	}
}

//footer