//to top
div(id="toTop")
	button 
		i(class="bi bi-chevron-double-up")
//to top

//footer part
footer
	div(class="container")
		div(class="footer-content")
			div(class="row")
				div(class="col-lg-5 col-md-6")
					div(class="footer-box")
						div(class="text")
							a(href="index.html" class="footer-logo") 
								img(data-src="images/logo-footer.png", class="img-fluid mb-4" alt="")
							p يقدم مكتب المدخلي (محامون ومستشارون قانونيون) خدمات قانونية سريعة وفعالة للعملاء ولديه نهج استباقي وإيجابي نحو إيجاد حلول جذرية للمشكلات القانونية عند ظهورها. يتمتع كل عضو من أعضاء فريق العمل المحترف بخبرة وتعمق كبيرين وفق منهجيات قانونية راسخة في كافة المجالات وذلك عبر سجل حافل بالإنجازات في المهام التي تم إسنادها إليهم. يلتزم المكتب بإيجاد الحلول القانونية التي تحقق نتائج ملموسة وفعالة من حيث التكلفة لعملائه.
				div(class="col-lg-3 col-md-6")
					div(class="footer-box")
						h3 روابط سريعة
						ul(class="map-links")
							li
								a(href="/") الرئيسية
							li
								a(href="#about") من نحن
							li
								a(href="#services") الخدمات
							li
								a(href="#contact") تواصل معنا
				div(class="col-lg-4")
					div(class="footer-box")
						h3 اتصل بنا
						div(class="contact")
							p 
								i(class="bi bi-pin-map")
								| عمارة التورن، شارع زيادة القرطبي، حي الملز، الرياض
							p 
								i(class="bi bi-telephone")
								a(dir="ltr" href="tel:+9660118101008") +9660118101008
							p 
								i(class="bi bi-telephone")
								a(dir="ltr" href="tel:+966503442232") +966503442232
							p 
								i(class="bi bi-telephone")
								a(dir="ltr" href="tel:+966547740703") +966547740703 
							p 
								i(class="bi bi-whatsapp")
								a(dir="ltr" target="_blank" href="https://api.whatsapp.com/send?l=ar&phone=966505241940&text=&source=&data=") +966505241940
							p 
								i(class="bi bi-envelope")
								a(href="mailto:Info@almadkhli.com") Info@almadkhli.com
		div(class="copyright")
			div(class="copy-text")
				p جميع الحقوق محفوظة &copy; 2022
//footer part