//main slider
section(class="main-slider" dir="ltr")
    div(class="main-slider-carousel owl-carousel owl-theme")
        div(class="slider-item")
            div(class="slider-image" style="background-image:url('images/slider/01.jpeg')")
                //- img(class="img-fluid" data-src="images/slider/01.jpeg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") محامون ومستشارون
                            br
                            | قانونيون 
                        p واحد من مكاتب المحاماة الرائدة التي تقدم خدمات قانونية متكاملة في المملكة العربية السعودية
                        div(class="item-btn")
                            a(href="#about" class="btn") المزيد عنا
        div(class="slider-item")
            div(class="slider-image" style="background-image:url('images/slider/02.jpeg')")
                //- img(class="img-fluid" data-src="images/slider/02.jpeg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") محامون ومستشارون
                            br
                            | قانونيون
                        p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                        div(class="item-btn")
                            a(href="#about" class="btn") المزيد عنا
        div(class="slider-item")
            div(class="slider-image" style="background-image:url('images/slider/03.jpeg')")
                //- img(class="img-fluid" data-src="images/slider/03.jpeg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") محامون ومستشارون
                            br
                            | قانونيون
                        p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                        div(class="item-btn")
                            a(href="#about" class="btn") المزيد عنا
                                i(class="bi bi-arrow-left-circle")
//main slider

//about us
section(class="about" id="about")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-6")
                    div(class="about-image")
                        img(src="images/about/01.png", alt="")
                        img(src="images/about/02.png", alt="")
                        div(class="image-text text-center")
                            h3 235
                            p مشروعات منتهية
                div(class="col-lg-6 d-flex flex-column justify-content-center")
                    div(class="main-title")
                        span(class="top-title") مكتب المدخلي
                        h2 محامون ومستشارون قانونيون
                    div(class="about-text")
                        p يقدم مكتب المدخلي خدمات قانونية سريعة وفعالة للعملاء ولديه نهج استباقي وإيجابي نحو إيجاد حلول جذرية للمشكلات القانونية عند ظهورها. يتمتع كل عضو من أعضاء فريق العمل المحترف بخبرة وتعمق كبيرين وفق منهجيات قانونية راسخة في كافة المجالات وذلك عبر سجل حافل بالإنجازات في المهام التي تم إسنادها إليهم. يلتزم المكتب بإيجاد الحلول القانونية التي تحقق نتائج ملموسة وفعالة من حيث التكلفة لعملائه.
                        h3 الخبرات والمهارات ​
                        p تعتبر ممارسة الخبرات والمهارات والكفاءات الفردية داخل الفريق القانوني واحدة من أهم أسس العمل في مهنة المحاماة والاستشارات القانونية. على هذا الأساس بدأ مكتب المدخلي (محامون ومستشارون قانونيون) عمله المهني لتقديم أفضل الخدمات القانونية بما يتماشى مع التطور الاقتصادي الذي تشهده المنطقة بهدف المشاركة بدور فعال في مستقبل مزدهر للبلاد.
                    div(class="about-btn")
                        a(href="about.html" class="btn") الخدمات
                            i(class="bi bi-arrow-right")
                        div(class="phone")
                            div(class="icon")
                                i(class="bi bi-telephone") 
                            div(class="text")
                                h4 اتصل بنا
                                p ‎
                                    a(href="tel:+9660118101008") +9660118101008
//about us

//services
section(class="services" id="services")
    div(class="container")
        div(class="main-title")
            span(class="top-title") خدماتنا
            h2 خدمات مكتب المدخلي
        div(class="content")
            div(class="row")
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        div(class="icon")
                            i(class="bi bi-briefcase")
                        div(class="details")
                            h3(class="title") 1. التقاضي والتحكيم وفض المنازعات
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        div(class="icon")
                            i(class="bi bi-briefcase")
                        div(class="details")
                            h3(class="title") 2. تقديم الآراء والاستشارات القانونية
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        div(class="icon")
                            i(class="bi bi-briefcase")
                        div(class="details")
                            h3(class="title") 3. صياغة ومراجعة كافة العقود والاتفاقيات
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        div(class="icon")
                            i(class="bi bi-briefcase")
                        div(class="details")
                            h3(class="title") 4. التجارة والشركات التجارية
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        div(class="icon")
                            i(class="bi bi-briefcase")
                        div(class="details")
                            h3(class="title") 5. التجارة الإلكترونية وتكنولوجيا المعلومات
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        div(class="icon")
                            i(class="bi bi-briefcase")
                        div(class="details")
                            h3(class="title") 6. الملكية الفكرية وحماية البيانات
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        div(class="icon")
                            i(class="bi bi-briefcase")
                        div(class="details")
                            h3(class="title") 7. القضايا الجنائية
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        div(class="icon")
                            i(class="bi bi-briefcase")
                        div(class="details")
                            h3(class="title") 8. البنوك والتمويل
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        div(class="icon")
                            i(class="bi bi-briefcase")
                        div(class="details")
                            h3(class="title") 9. عمليات الاندماج والاستحواذ
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        div(class="icon")
                            i(class="bi bi-briefcase")
                        div(class="details")
                            h3(class="title") 10. صناديق الاستثمار
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        div(class="icon")
                            i(class="bi bi-briefcase")
                        div(class="details")
                            h3(class="title") 11. منازعات قانون العمل
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        div(class="icon")
                            i(class="bi bi-briefcase")
                        div(class="details")
                            h3(class="title") 12. الاستثمارات المحلية والأجنبية
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        div(class="icon")
                            i(class="bi bi-briefcase")
                        div(class="details")
                            h3(class="title") 13. العقارات والتشييد والبناء
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        div(class="icon")
                            i(class="bi bi-briefcase")
                        div(class="details")
                            h3(class="title") 14. الشركات العائلية
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        div(class="icon")
                            i(class="bi bi-briefcase")
                        div(class="details")
                            h3(class="title") 15. التأمين وإعادة التأمين
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        div(class="icon")
                            i(class="bi bi-briefcase")
                        div(class="details")
                            h3(class="title") 16. المصارف الإسلامية والتمويل
//services

//contact us
section(class="contact" id="contact")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-4")
                    div(class="image")
                        img(src="images/bgs/contact.jpg", class="img-fluid" alt="")
                div(class="col-lg-8")
                    div(class="contact-form wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".2s")
                        div(class="main-title wow slideInUp" data-wow-duration="1.3s" data-wow-delay="0s")
                            h2 تواصل معنا
                        form(class="needs-validation" method="POST" action="send.php" novalidate)
                            div(class="row")
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        input(type="text" name="name" class="form-control" placeholder="الاسم" required)
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        input(type="email" name="email" class="form-control" placeholder="الإيميل" required)
                                div(class="col-lg-12")
                                    div(class="form-group position-relative")
                                        input(type="number" name="phone" class="form-control" placeholder="الهاتف" required)
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        textarea(class="form-control" name="message" rows="5" placeholder="الرسالة")
                            div(class="contact-btn")
                                button(class="btn" type="submit") أرسل الآن
                                    i(class="bi bi-arrow-left-circle")
//contact us